<div class="banner">
<div class="top-element">
    <%- include("partials/header") -%>
        <div class="ui container">
            <div class="title">
                <h1>Hello, Welcome to my world...</h1>
                <div class="paragraph">
                    <p>My mission is to help small bussinesses focus on what's most imporant to them, by making their ideas
                        come a reality.</p>
                </div>
                <div class="element-space center-element">
                    <a href="/blogs" class="ui orange button rounded-button btn">
                        See all posts
                    </a>
                        <div class="social-btn">
                            <button class="ui circular icon button">
                                <i class="facebook f icon"></i>
                            </button>
                            <button class="ui circular icon button">
                                <i class="twitter icon"></i>
                            </button>
                            <button class="ui circular icon button">
                                <i class="linkedin icon"></i>
                            </button>
                            <button class="ui circular youtube icon button">
                                <i class="youtube icon"></i>
                            </button>
                        </div>
                    
                </div>
            </div>
        </div>
</div>
</div>

        <div class="latest-posts">
            <div class="ui container">
                <div class="ui sixteen wide column grid center aligned">
                    <div class="latest-posts-title">
                        <h3>Latest Posts</h3>
                    </div>
                </div>
                <div class="ui three column grid stackable">
                    <% posts.forEach((post) => { %>
                        <div class="column three-posts animated bounceInRight slow">
                            <div class="ui card card-shadow">
                                <div class="image card-image">
                                    <img src="<%= post.image %>">
                                </div>
                                <div class="content post-title">
                                    <a href="/blogs/<%= post._id %>">
                                        <%=post.title %>
                                    </a>
                                    <div class="meta">
                                        <span class="date">
                                            <em>
                                                <%= post.date.toDateString() %>
                                            </em>
                                        </span>
                                    </div>
                                    <div class="description">
                                        <%= post.body.substring(0, 55) + '...' %>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a>
                                        <div class="ui buttons">
                                            <a href="/blogs/<%= post._id %>" class="mini ui btn button primary rounded-button center attached">Read More
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>