<%- include("partials/header") -%>

<div class="top-element">
        <% posts.forEach((post) => { %>
            <div class="ui container post-title">
                <div class="ui items">
                    <div class="item">
                        <div class="image">
                            <img src="<%= post.image %>">
                        </div>
                        <div class="content">
                            <a class="header link" href="/blogs/<%= post._id %>">
                                <%= post.title %>
                            </a>
                            <div class="description">
                                <a href="/blogs/<%= post._id %>">
                                    <%- post.body.substring(0, 150) + '...' %>
                                </a>
                            </div>
                            <div class="extra">
                                By
                                <%= post.author%>
                            </div>
                            <div class="extra">
                                <em>
                                    <%= post.date.toDateString()%>
                                </em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>

        <% }) %>
</div>



<%- include('partials/footer') %>